.body{
	background: url('images/samuel-richard-UWY8nGROvbk-unsplash.jpg');
	background-size: cover;
	background-position:center;
}

.inner1{
	width:400px;
	height:400px;
	border-radius: 50%;
	border:1px solid #ccc;
	position: absolute;
	animation: rotateDiv 10s 0s infinite linear;
}
.inner2{
	width:350px;
	height:350px;
	border-radius: 50%;
	border:1px solid #ccc;
	position: absolute;
	top:25px;
	left:25px;
	animation: rotateDiv 8s 0s infinite linear;
}
.inner3{
	width:300px;
	height:300px;
	border-radius: 50%;
	border:1px solid #ccc;
	position: absolute;
	top:50px;
	left:50px;
	animation: rotateDiv 6s 0s infinite linear;
}
.inner4{
	width:250px;
	height:250px;
	border-radius: 50%;
	border:1px solid #ccc;
	position: absolute;
	top:75px;
	left:75px;
	animation: rotateDiv 10s 0s infinite linear;
}
.inner5{
	width:200px;
	height:200px;
	border-radius: 50%;
	border:1px solid #ccc;
	position: absolute;
	top:100px;
	left:100px;
	animation: rotateDiv 8s 0s infinite linear;
}
.inner6{
	width:150px;
	height:150px;
	border-radius: 50%;
	border:1px solid grey;
	position: absolute;
	top:125px;
	left:125px;
	animation: rotateDiv 10s 0s infinite linear;

}
.inner7{
	width:80px;
	height:80px;
	border-radius: 50%;
	position: absolute;
	background: yellow;
	top:160px;
	left:160px;
	overflow: hidden;
}
.main{
	width:400px;
	height:400px;
	margin: 100px auto;
	position: relative;
}
.inner5circle{
	width:13px;
	height:13px;
	background: orangered;
	border-radius: 50%;
	position: absolute;
	top:55px;
}
.inner6circle{
	width:13px;
	height:13px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top:37px;
	
}
.inner4circle{
	width:15px;
	height:15px;
	background: skyblue;
	border-radius: 50%;
	position: absolute;
	top:69px;
	animation: rotateDiv 2s 0s infinite linear;
}
.whitecircle{
	width:6px;
	height:6px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top:-10px;
	
}
.inner3circle{
	width:12px;
	height:12px;
	background: crimson;
	border-radius: 50%;
	position: absolute;
	top:95px;
}
.inner2circle{
	width:12px;
	height:12px;
	background: coral;
	border-radius: 50%;
	position: absolute;
	top:117px;
}
.inner1circle{
	width:12px;
	height:12px;
	background: white;
	border-radius: 50%;
	position: absolute;
	top:140px;
}
.skewcircle{
	width: 12px;
    height: 12px;
    border: 3px solid #361717;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    transform: skew(310deg);
}
@keyframes rotateDiv{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
